[Desktop Entry]
Name=Chain Reaction
Comment=Strategy game for 2-4 players
Comment[pl]=Gra strategiczna dla 2-4 graczy
Icon=xchain.png
Exec=xchain
Terminal=false
Type=Application
